SERVER_URL=amqp://<user>:<password>@<serverip>:<port>/<hostname>
QUEUE_NAME=<queue-name>
TRANSPORT = <transport number>

MONGO_URI=mongodb+srv://<user>:<server_address>/sradmbackend?retryWrites=true&w=majority